%td= game_score.passing_tds_display
%td= game_score.passing_ints_display
%td= game_score.receiving_tds_display
%td= game_score.rushing_tds_display
%td= game_score.yards_passing_display
%td= game_score.yards_receiving_display
%td= game_score.yards_rushing_display
%td= game_score.fumbles_display
