.row
  .panel.panel-primary
    .panel-heading
      %h3 Fantasy Teams
    .panel-body
      %table.table
        %thead
          %tr.row
            %th Name
            %th QB
            %th RB
            %th RB
            %th WR
            %th WR
            %th TE
            %th K
            %th Score
        %tbody
          - @fantasy_teams.sort_by(&:score).reverse.each do |fantasy_team|
            %tr.row
              %td= link_to(fantasy_team.name, fantasy_team)
              %td= fantasy_team.player_name_at_pos_and_score("QB")
              %td= fantasy_team.player_name_at_pos_and_score("RB1")
              %td= fantasy_team.player_name_at_pos_and_score("RB2")
              %td= fantasy_team.player_name_at_pos_and_score("WR1")
              %td= fantasy_team.player_name_at_pos_and_score("WR2")
              %td= fantasy_team.player_name_at_pos_and_score("TE")
              %td= fantasy_team.player_name_at_pos_and_score("K")
              %td
                %strong= fantasy_team.score
