.row
  .panel.panel-primary
    .panel-heading
      %h3 Fantasy Teams
    .panel-body
      %table.table
        %thead
          %tr.row
            %th Name
            %th QB
            %th RB
            %th RB
            %th WR
            %th WR
            %th TE
            %th K
            %th Players Left
            %th Score
        %tbody
          - @fantasy_teams.sort_by(&:score).reverse.each do |fantasy_team|
            %tr.row
              %td= link_to(fantasy_team.name, fantasy_team)
              %td= player_name_at_pos_and_score(fantasy_team, "QB")
              %td= player_name_at_pos_and_score(fantasy_team, "RB1")
              %td= player_name_at_pos_and_score(fantasy_team, "RB2")
              %td= player_name_at_pos_and_score(fantasy_team, "WR1")
              %td= player_name_at_pos_and_score(fantasy_team, "WR2")
              %td= player_name_at_pos_and_score(fantasy_team, "TE")
              %td= player_name_at_pos_and_score(fantasy_team, "K")
              %td= fantasy_team.players_left
              %td
                %strong= fantasy_team.score
