.row
  .panel.panel-primary
    .panel-heading
      %h3= @fantasy_team.name
    .panel-body
      %table.table
        %thead
          %tr.row
            %th QB
            %th Name
            %th NFL Team
            %th Games Played
            - (1..4).each do |week_number|
              %th= week_number
            %th Score
        %tbody
          - @fantasy_team.players.sort_by(&:position_view_order).each do |player|
            %tr.row
              %td= player.position
              %td= player_link(player)
              %td= player.nfl_teams.first.name
              %td= player.games_played
              - (1..4).each do |week_number|
                %td= player.score_for_week(week_number)
              %td= player.score